* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title title"
    "header header"
    "content sidebar"
    "footer footer" ;
}
.grid div {
    text-align: center;
}
.grid div:nth-child(even) {
    background-color: #333;
    color: #fff;
}
.grid div:nth-child(odd) {
    background-color: #eee;
    color: #333;
}
.title {
    grid-area: title;
}
.header {
    grid-area: header;
}
.sidebar {
    grid-area: sidebar;
}
.content {
    grid-area: content;
}
.footer {
    grid-area: footer;
}
